/*
- Las etiquetas se indican con el nombre sin prefijo
- Las clases se indican con el nombre con el prefijo "."
- Los objetos se indican con el "id" con el prefijo "#"

- 1 rem = 16 px

*/

/*---------------------------------------------------------*/
/*                           BODY                          */
/*---------------------------------------------------------*/
@font-face {
    font-family: "CaviarDreams";
    src: url(Fonts/caviar_dreams/CaviarDreams.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: "CaviarDreams";
}

:root {
    font-size: 16px;
}

body {
    background: url("Media/Wallpaper.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*---------------------------------------------------------*/
/*                       HEADER (BODY)                     */
/*---------------------------------------------------------*/

.Titulo {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: xx-large;
    margin: 0;
    line-height: 1.428;
}

/*---------------------------------------------------------*/
/*                  NAVBAR (HEADER - BODY)                 */
/*---------------------------------------------------------*/   

#Logo{
    padding: 15px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NavBar {
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    overflow: hidden;
    background-color:rgba(0, 0, 0, 0.8);
    line-height: 1.428;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
}

@media (min-width: 760px) {
    .NavBar {
        display: flex;
        flex-direction: row;
    }
}
  
li {
    float: left;
    padding: 1.0rem;
}

.Items_NavBar {
    color: white;
    text-decoration: none;
}

.Items_NavBar:hover {
    color:navajowhite;
    text-decoration: underline;
}

.Items_NavBar:active {
    color: black;
    text-decoration: none;
    background-color: navajowhite;
    font-weight: bold;
}

/*---------------------------------------------------------*/
/*--               CUERPO DE LA PAGINA (BODY)              */
/*---------------------------------------------------------*/

.Carrito{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  justify-content: space-around;  
  color: white;
  font-weight: bold;
  background-color: rgba(0,0,0,0.8);
}

.Carrito a:link{
  text-decoration: none;
  font-weight: bold;
  color:  rgb(147, 90, 5);
}

.Carrito a:visited{
  color: rgb(147, 90, 5);
}

.Carrito a:hover{
    color: navajowhite;
    text-decoration: underline;
}

/*---------------------------------------------------------*/
/*                  SOBRE NOSOTROS (BODY)                  */
/*---------------------------------------------------------*/
 
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.card:hover {
  scale: 125%;
}

.about-section {
  text-align:center;
  color: white;
  background-color: black;
  margin: 30px 30%;
  padding: 20px 0;
  border: rgb(147, 90, 5);
  border-style: double;
  border-width: 8px;
}

.card img{
  border: rgb(147, 90, 5);
  border-radius: 100%;
  border-style: solid;
  border-width: 5px;
}

.containersn {
  padding: 16px 16px;
  background-color: white;
  border: rgb(147, 90, 5);
  border-style: solid;
  border-radius: 20px;
  border-width: 5px;
}

.containersn h2{
  text-align: center;
}

#containerfc{
  background-color: rgba(0, 0, 0, 0.8);
  margin: 20px 30% 0 30%;
}

.containersn::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
  text-align: center;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

#eMail{
  margin: 10px 0;
  color: blue;
  text-decoration: underline;
}

@media screen and (max-width: 650px) {
.column {
  width: 100%;
  display: block;
  }
}

/*---------------------------------------------------------*/
/*                   CONTACTENOS (BODY)                    */
/*---------------------------------------------------------*/

#Formulario_Contacto {
margin: auto;
background-color: rgba(0, 0, 0, 0.7);
margin-top: 0px;
margin-bottom: 20px;
padding: 20px;
border: 2px;
}

#WhiteLabel{
color: white;
margin-bottom: 15px;
margin-right: 30px;
}

#containerfc h2{
padding-top: 20px;
color: white;
text-align: center;
}

#Boton_Enviar{
background-color: rgb(147, 90, 5);
border:rgb(147, 90, 5);
width: 50%;
color: black;
font-weight: 900;
}

/*---------------------------------------------------------*/
/*                       FOOTER (BODY)                     */
/*---------------------------------------------------------*/   

.Pie_de_Pagina {
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    line-height: 1.428;
}

footer .link{
    color: white;
    text-decoration: none;
    line-height: 1.428;
}

footer .link:hover{
    color: navajowhite;
    text-decoration: underline;
}

footer p {
    text-align: center;
    margin: 1rem;
    color: white;
}